.container {
  margin: 30px 5px;
  /* float: left; */
  display: block;
  align-items: baseline;
  justify-content: flex-end;
  flex-direction: row;
}

.title {
  flex: 1;
}

.titleLink {
  text-decoration: none;
}

.nav {
  flex: 1x;
  margin-left: auto;
}
.navLink {
  text-decoration: none;
  margin: 10px;
  color: F2F2F2;
  font-size: 20px;
}

.navLink:hover {
  text-decoration: underline;
}
